
/*header last name*/
@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

body {
  display: flex;
  height: 100vh;
  justify-content: bottom;
  align-items: bottom;
  overflow: hidden;
}

video,
h1 {
  position: absolute;
  top: -225px;
  left: 0px;
  width: 100%;
  height: 60%;
  margin: 0%;
}

video {
  object-fit: cover;
}

h1 {
  font-size: 20vw;
  font-family: Biko, sans-serif;
  font-weight: 700;
  line-height: 100vh;
  text-transform: uppercase;
  text-align: left;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  mix-blend-mode: screen;
}

/*page header last name*/
* {
  font-family: Play;
}
p {
  font-size: 20px;
  color: #444;
}


/*tiles*/
.wrap {
  padding-top: 175px;
  margin: 10px auto 0px auto;
  width: 100%;
  display: flex;
  align-items: space-around;
  max-width: 1200px;
}
.tile {
  width: 380px;
  height: 380px;
  margin: 10px;
  padding:0px;
  top:0px;
  background-image:url("https://wallpaperaccess.com/full/2699378.jpg");
  display inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: #b7e8eb;
  font-family: "Roboto";
}
.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}
.tile .text {
  /*   z-index:99; */
  position: relative;
  padding: 10px;
  height: calc(100% - 60px);
  color: yellowgreen;
}
.tile h1 {
  font-weight: 200px;
  margin: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.tile h2 {
  color:maroon;
  padding-top: 4em;
  font-weight: 900;
  margin: 30px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}
.tile p {
  color:ivory;
  font-weight: 300;
  margin: 35px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

ul{
  
  
  
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
    list-style: none;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin:0px 0;
    padding:0px;
  position: absolute;
  bottom: 60px;
  top: 40px;
  right:20px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  
}

li{
    cursor: pointer;
    width:30px;
    height:30px;
}
i{
    color:yellowgreen;
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

li:hover .fa-github{
    transform:translate3d(0,-10px,20px);
    color:ivory;
}

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;

}

.tile:hover {
  /*   background-color: */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}
.tile:hover img {
  opacity: 0.5;
}
.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}
.dots {
  position: absolute;
  bottom: 20px;
  right: 30px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dots span {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.dots span:nth-child(1) {
  transition-delay: 0.05s;
}
.dots span:nth-child(2) {
  transition-delay: 0.1s;
}
.dots span:nth-child(3) {
  transition-delay: 0.15s;
}




@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 400px;
  }
}
/*background*/

html,
body {
  height: 100%;
}
body {
  background-image: url("https://wallpaperaccess.com/full/2699378.jpg");
}

/*ocean footer*/


.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


